/*

Xmarks Color Theme
------------------

 */

/* Color Theme Swatches in Hex */
$xmarks-color-1-hex: #014040;
$xmarks-color-2-hex: #02735E;
$xmarks-color-3-hex: #03A678;
$xmarks-color-4-hex: #F27405;
$xmarks-color-5-hex: #731702;

/* Color Theme Swatches in RGBA */
$xmarks-color-1-rgba: rgba(1, 63, 63, 1);
$xmarks-color-2-rgba: rgba(2, 114, 94, 1);
$xmarks-color-3-rgba: rgba(3, 165, 119, 1);
$xmarks-color-4-rgba: rgba(242, 115, 4, 1);
$xmarks-color-5-rgba: rgba(114, 22, 2, 1);

/* Color Theme Swatches in HSLA */
$xmarks-color-1-hsla: hsla(180, 96, 12, 1);
$xmarks-color-2-hsla: hsla(168, 96, 22, 1);
$xmarks-color-3-hsla: hsla(163, 96, 33, 1);
$xmarks-color-4-hsla: hsla(28, 96, 48, 1);
$xmarks-color-5-hsla: hsla(11, 96, 22, 1);
$xmarks-color-5-hsla: hsla(11, 96, 22, 1);
