{% extends 'base.html' %}

{% block content %}
    <h1>Bookmarks</h1>
    {% if bookmarks %}
        <a class="btn btn-primary" href="{% url 'xmarks:bookmark-create' %}">Add bookmark</a>
        <ul>
        {% for bookmark in bookmarks %}
            <li>
                <a href="{{ bookmark.url }}">{{ bookmark.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No bookmarks yet.</p>
        <p><a href="{% url 'xmarks:bookmark-create' %}">Create a bookmark?</a> </p>
    {% endif %}
{% endblock %}