{% extends 'base.html' %}

{% block content %}

    <h1>{{ object.name }}</h1>
    {% if category_bookmarks %}
        <ul>
            {% for bookmark in category_bookmarks %}
                <li>
                    <a href="{{ bookmark.url }}">{{ bookmark.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No bookmarks in this category. </p>
        <p><a href="{% url 'xmarks:bookmark-create' %}">Create a bookmark in the {{ object.name }} category?</a> </p>
    {% endif %}
{% endblock %}
