{% extends 'base.html' %}

{% block content %}
<h1>Categories <a class="btn btn-primary float-end" href="{% url 'xmarks:category-create' %}"><i class="bi bi-folder-plus"></i> Add Category</a></h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'xmarks:category-detail' category.pk %}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories have been added yet.</p>
        <p><a href="{% url 'xmarks:category-create' %}">Would you like to add a category</a></p>
    {% endif %}
{% endblock %}
