{% extends 'xmarks/index.html' %}

{% block content %}
    <section id="frequentBookmarksSection" class="mt-4">
        <h2>Frequents</h2>
        <div id="frequentBookmarks" class="row {% if frequent_bookmarks %}row-cols-1 row-cols-sm-2 row-cols-md-4{% endif %} g-2">
            {% for bookmark in frequent_bookmarks %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{{ bookmark.url }}">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                                {{ bookmark.name }}</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ bookmark.name }}</p>
                            <div class="row justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ bookmark.url }}" type="button" class="btn btn-sm btn-outline-primary"><i class="fa-regular fa-link"></i> Visit</a>
                                    <a href="{% url 'xmarks:bookmark-update' bookmark.pk %}" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col text-center">
                    <p>You have no frequently visited bookmarks, would you like to <a href="{% url 'xmarks:bookmark-create' %}">create one</a>?</p>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="favoriteBookmarksSection" class="mt-4">
        <h2>Favorites</h2>
        <div id="favoriteBookmarks" class="row {% if favorite_bookmarks %}row-cols-1 row-cols-sm-2 row-cols-md-4{% endif %} g-2">
            {% for bookmark in favorite_bookmarks %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{{ bookmark.url }}">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                        {{ bookmark.name }}</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ bookmark.name }}</p>
                            <div class="row justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ bookmark.url }}" type="button" class="btn btn-sm btn-outline-primary"><i class="fa-regular fa-link"></i> Visit</a>
                                    <a href="{% url 'xmarks:bookmark-update' bookmark.pk %}" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col text-center">
                    <p>You have no favorite bookmarks, would you like to <a href="{% url 'xmarks:bookmark-create' %}">create one</a>?</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}