{% extends 'base.html' %}

{% load static %}

{% load compress %}

{% block head %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'xmarks/css/xmarks.scss' %}" rel="stylesheet" media="screen">

    {% endcompress %}

{% endblock %}

{% block menu_items %}
    <!-- TODO: Add a middleware for the menu items to be grabbed from JSON stored somewhere in the app and inject into context and rendered here -->
    {% include 'xmarks/templates/' %}
{% endblock menu_items %}

{% block js_frameworks %}
    {% compress js file %}
        <script src="{% static 'xmarks/vendor/htmx/htmx.min.js' %}"></script>
        <script src="{% static 'xmarks/vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>

    {% endcompress %}

{% endblock %}
