{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}

        {% endblock %}

        <title>

            {% block title %}

            {% endblock %}

        </title>

    </head>

    <body>
        <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="{% if request.user.is_anonymous %}{% url 'login' %}{% else %}{% url 'xmarks:index' %}{% endif %}" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">Xmarks</span>
                </a>
                {% if request.user.is_authenticated %}
                <div class="col-md-5 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search bookmarks..." id="example-search-input">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border-bottom-0 border rounded-pill ms-n5" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {% endif %}
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if request.user.is_anonymous %}
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="me-3 py-2 text-dark text-decoration-none dropdown-item" href="{% url 'xmarks:bookmark-list' %}">All Bookmarks</a></li>
                        <li><form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type="submit" class="me-3 py-2 text-dark text-decoration-none dropdown-item">Logout</button></form></li>
                    </ul>
                </div>
            {% endif %}

            </nav>
            </div>

            {% block header %}

            {% endblock %}

        </header>
        <main>

            {% block content %}

            {% endblock %}

        </main>

        {% block js_frameworks %}

        {% endblock %}

        {% block js_imports %}

        {% endblock %}

        </div>
    </body>

</html>
